*{
    box-sizing: border-box;
}
html, body, #root, .main{
    display: flex;
    flex: 1;
    height:100%;
    overflow: hidden;
    position: relative;
}
body{
    color:white;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #121a23;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    display: none;
}
.msg-list::-webkit-scrollbar-thumb{
    background-color: #0d1219;
}
.main{
    align-items: center;
    justify-content: center;
}
.modal-wrap{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.onboard{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background:linear-gradient(145deg, #A68CFF 0%, #6A8FFF 55%) 0% 0% / cover; 
}

.MuiTouchRipple-root .MuiTouchRipple-child {
    background-color: white;
}
.MuiIconButton-root:hover {
    /* background-color: rgba(255, 255, 255, 0.065) !important; */
    opacity: 0.8;
}

.view-img-modal-wrap{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
}